* {
  box-sizing: border-box;
  font-family: Georgia serif;
}

h1 {
	font-size: 27px;
	text-align: center;
	color: rgb(0, 0, 0);
	margin-bottom: 30px;
}

p {
	padding: 15px 5px 0px 5px;
	font-size: 16px;
	position: relative;
}

.menu-item { 
	background-color: #F5F5DC;
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
}

#chicken {
	background-color: #DAA520;
	color: #000000;
}
#beef {
	background-color: #8B0000;
	color: #FFFFF0;
}
#sushi {
	background-color: #006400;
	color: #F8F8FF;
}


.row {
	width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/********** Small devices only **********/
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}
